* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    width: 100vw;
    height: auto;
}

header .container {
    display: flex;
    align-items: center;
    /* padding: 10px 10px; */
    width: 100vw;
}

header .barra {
    width: 100vw;
    height: 35px;
    background-color: rgb(139, 23, 23);
}

header .container .img-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
}

header .container .img-header #logo {
    width: 90px;
    height: auto;
}

header .container .img-header #ganes {
    width: 200px;
    height: 80px;
}

header .container .navBar {
    display: flex;
    justify-content: center;
    width: 70%;
}

header .container nav ul {
    display: flex;
    width: 900px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header .container nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    font-size: 30px;
}

header .container nav ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #000;
}

header .container nav ul li #carrinho {
    width: 45px;
    height: 45px;
}

section.background-section #fundo {
    width: 100%;
    height: auto;
}

.section-livros {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.section-livros .container-livros {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1100px;
    height: 700px;
    background-color: rgb(139, 23, 23);
    border-radius: 50px;
    /* padding: 10px 10px 20px 30px;   */
    /* topo, direita, baixo, esquerda */
}

.section-livros .container-livros .titulo {
    font-size: 45px;
    color: white;
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.livraria {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.livraria .destaques .container-ancora{
    display: flex;
    justify-content: center;
    width: auto;
}

.livraria .ancora{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 250px;
    text-decoration: none;
}

.aaa {
    width: 250px;
    height: 380px;
}